<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.learn.androidlearn">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.DropDownListActivity"></activity>
        <activity android:name=".activity.QQAlbumActivity" />
        <activity android:name=".activity.DisplayImageActivity" />
        <activity android:name=".activity.EvaluationActivity" />
        <activity android:name=".activity.DragBarActivity" />
        <activity android:name=".activity.StartInterfaceActivity" />
        <activity android:name=".activity.WeChatLoginActivity" />
        <activity android:name=".activity.LogicalReasoningActivity" />
        <activity android:name=".activity.ButtonActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.QQSpaceActivity" />
        <activity android:name=".activity.FriendsCircleActivity" />
        <activity android:name=".activity.QQActivity" />
        <activity android:name=".activity.HimalayaActivity" />
        <activity android:name=".activity.SquareActivity" />
        <activity android:name=".activity.WeChatActivity" />
        <activity android:name=".activity.SoftwareUpdateActivity" />
        <activity android:name=".activity.RabbitActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>